allure-pytest==2.13.5
allure-python-commons==2.13.5
attrs==24.2.0
charset-normalizer==3.4.0
colorama==0.4.6
exceptiongroup==1.2.2
idna==3.10
importlib-metadata==6.7.0
iniconfig==2.0.0
jpype1==0.7.5
js2py==0.71
kazoo==2.8.0
mitmproxy==5.0.1
opencv-python==4.2.0.32
packaging==24.0
paramiko==2.4.3
pluggy==1.2.0
pyhamcrest==2.1.0
pytest==7.4.4
pytest-rerunfailures==13.0
python-binary-memcached==0.30.1
requests==2.31.0
selenium==3.141.0
tomli==2.0.1
typing-extensions==4.7.1
ujson==5.7.0
urllib3==1.25.11
zipp==3.15.0